<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Firebase fotos</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLinkActive="active" [routerLink]="['fotos']">fotos</a>
      <a class="nav-item nav-link" routerLinkActive="active" [routerLink]="['carga']">carga</a>
    </div>
  </div>
</nav>

<div class="contaier main-container">

  <router-outlet></router-outlet>

</div>
