

<div class="row">

  <div class="col-md-4">

    <h3>Seleccione archivos</h3>

    <div NgDropFiles
         [ngClass]="{'file-over': estaSobreDropZone}"
         [archivos]="archivos"
         (archivoSobre)="archivoSobreDrogZone($event)"
         class="well drop-zone">

      <h4>Suelta los archivos aquí</h4>
      <img src="/assets/img/drop-images.png">

    </div>

  </div>

  <div class="col-md-8" style="margin-bottom:40px">

    <h3>Cargar Archivos</h3>
    <button (click)="cargarImg()"
            type="button"
            class="btn btn-success"
            [disabled]="archivos.length == 0 || !permiteCargar">
          Cargar a Firebase
          </button>
    <button (click)="limpiarArchivos()"
            class="btn btn-danger"
            type="button">
          Limpiar archivos
    </button>

    <table class="table" *ngIf="archivos.length > 0">
      <thead class="thead-inverse">
        <tr>
          <th>Nombre</th>
          <th>Tamaño</th>
          <th>Progreso</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let archivo of archivos">
          <td [ngClass]="{'text-green': archivo.estado}">
            <strong>  {{archivo.nombreArchivo}} </strong>
          </td>
          <td>{{archivo.archivo.size / 1024 / 1024 | number:'.2'}}mb</td>
          <td>
            <div class="progress">
              <div class="progress-bar" role="progressbar" [ngStyle]="{'width': archivo.progreso + '%' }">{{archivo.progreso}} %</div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
