

<div class="row">
    <div class="card-columns">

      <div class="card" *ngFor="let imagen of imagenes | async">
        <img [src]="imagen.url" alt="imagen.nombre" class="card-img-top img-fluid">

        <div class="card-block">
          <h4 class="card-title"> {{ imagen.nombre }} </h4>
          <button (click)="_cis.eliminarImg(imagen.$key)"
                  type="button" class="btn btn-outline-danger btn-block"> Eliminar </button>

        </div>

      </div>


    </div>

    <button *ngIf="(imagenes | async)?.length > 0"
            (click)="cargarMasImg()"
            type="button" class="btn btn-outline-primary btn-block"> Cargar más imagenes </button>
    <button *ngIf="(imagenes | async)?.length > 0"
            (click)="_cis.eliminarImg()"
            type="button" class="btn btn-outline-danger btn-block"> Eliminar todas las imagenes </button>


</div>
